@import url("https://fonts.googleapis.com/css?family=Orbitron:400,500");
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

$font-main: 'Orbitron', sans-serif;