@import "colors.scss";
@import "fonts.scss";

$yellow-border: 0.35vw solid $yellow;
$main-game-width: 50%;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 2.8vw;
    font-family: $font-main;
    font-weight: $medium-weight;
}

body {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.65), 
      rgba(0, 0, 0, 0.65)
    ),
    url('../resources/images/dond_bg.jpg');
    background-size: cover;
    height: 100%;
}

//Game css
.game-base {
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 8vh 8vw;
    @extend .fill-parent;
}

.game-play-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 0.8;
}

.game-info-container {
    flex: 0.2;
    width: 100%;
    display: flex;
    justify-content: center;
}

.gameplay-area {
    border-top: $yellow-border;
    flex-direction: column;
    display: flex;
    width: $main-game-width;
}

.case-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1%;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;

    .case {
        display: flex;
        width: 15%;
        height: 17%;
        margin: 4px;
        @extend .position-rel;

        &.unopened {
            cursor: pointer;
        }

        &.opened {
            opacity: 0.5;
        }

        &.chosen {
            opacity: 0;
        }

        img {
            width: 100%;
            object-fit: contain;
        }

        .case-num {
            font-size: 0.55em;
            @extend .absolute-center;
        }
    }
}

.game-heading-logo {
    display: flex;
    @extend .fill-parent;
}

.game-heading {
    height: 10%;
    width: 60%;
    align-self: center;
    justify-content: center;
    background-color: $yellow;
    align-items: center;
    display: flex;
}

.side-panel {
    background-color: black;
    border: $yellow-border;
    padding: 5px 6px;
    flex: 0.4;
    display: flex;
    flex-direction: column;

    &.left {
        border-radius: 10px 0px 0px 10px;
    }

    &.right {
        border-radius: 0px 10px 10px 0px;
    }

    div {
        flex: 1;
        background-color: $light-yellow;
        margin: 3px;
        padding-right: 10px;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        font-size: 0.5em;
        
    }

    .panel-item {
        &.opened {
            opacity: 0.3;
        }
    }
}

.bottom-panel {
    background-color: black;
    border: $yellow-border;
    border-radius: 0px 0px 10px 10px;
    width: $main-game-width;
    height: 100%;
    display: flex;

    .vbar {
        background-color: $yellow;
        width: 1.5%;
        height: 100%;
    }

    .chosen-case-container {
        padding-top: 10px;
        padding-bottom: 10px;
        flex: 0.25;
        color: white;
        font-weight: $normal-weight;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;

        .label-text { 
            font-size: 0.4em;
        }

        .case-container {
            @extend .position-rel;
            img {
                object-fit: contain;
            }
            &.opened {
                opacity: 0.5;
            }
        }

        .inside-case {
            width: 40%;
            height: auto;
            @extend .absolute-center;

            img {
                object-fit: contain;
            }

            &.text {
                text-align: center;
                color: black;
                font-size: 1.0em;
                font-weight: $medium-weight;
            }
        }
    }

    .game-info-text {
        color: white;
        display: flex;
        flex: 0.75;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.5em;
        font-weight: $normal-weight;
        padding: 0px 10px;
    }
}

.bankerPhase-container {
    width: 40vw;
    @extend .modal-base;

    .hbar {
        @extend .hbar;
        background-color: white;
    }

    .decision {
        display: flex;
        flex-direction: row;
        padding-top: 25px;
        justify-content: center;
        
        .action-l, .action-r {
            cursor: pointer;
            background-color: $yellow;
            border-radius: 5px;
            width: 30%;
            padding: 10px 0px;
            color: black;
        }
        .action-l {
            margin-right: 5px;
        }
        .action-r {
            margin-left: 5px;
        }
    }

    .highest-offer {
        padding-top: 25px;
        padding-bottom: 5px;
        display: flex;
        font-size: 0.6em;
        justify-content: center;
        align-items: flex-end;
    }

    .real-offer {
        padding-top: 20px;
        font-size: 0.65em;
    }

    .banker {
        flex: 0.4;
        display: flex;
        img {
            object-fit: contain;
            @extend .fill-parent;
        }
    }
    .banker-offer {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex: 0.6;
        padding-top: 10px;
        font-size: 0.6em;
    }

    .offer {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

    .calling-banker {
        font-size: 0.8em;
    }
}

.rewards-container {
    @extend .modal-base;
    width: 60vw;
    white-space: pre-line;

    .title {
        display: flex;
        font-size: 1.5em;
        font-family: $font-cursive;
        justify-content: center;
        color: orange;
        padding: 2% 0;
    }

    .subtitle {
        display:flex;
        text-align: left;
        font-size: 0.9em;
        color: $yellow;
    }

    .content {
        line-height: 3.5vh;
        text-align: left;
        display: flex;
        font-size: 0.5em;
        flex: 1;
    }
    
    .hr {
        @extend .hr;
        background-color: yellow;
        margin-bottom: 10px;
    }
}

////Utils////
//Width
.width-50 {
    width: 50%;
}
.flex-50 {
    flex: 0.5;
}
.width-40 {
    width: 40%;
}
.flex-40 {
    flex: 0.4;
}
.width-35 {
    width: 35%;
}
.flex-35 {
    flex: 0.35;
}
.width-30 {
    width: 30%;
}
.flex-30 {
    flex: 0.3;
}

.fill-parent {
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
    align-items: flex-start;
}

.position-ab {
    position: absolute;
}

.position-rel {
    position: relative;
}

.absolute-center {
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    @extend .position-ab;
}
.modal-base {
    height: auto;
    border-radius: 10px;
    padding: 2%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    border: $yellow-border;
}

.hr {
    width: 100%;
    height: 2px;
    margin-top: 5px;
}

//Custom Component Styles
//Modal
.modal-overlay-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .65);
}

.modal-content-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    overflow: auto;
    text-align: center;
    padding: 4px;
}

.modal-content-div:after {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    content: '';
}

.modal-dialog-div {
    position: relative;
    outline: 0;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    max-width: auto;
    cursor: default;
    border-radius: 4px;
}