@import "colors.scss";
@import "fonts.scss";

$yellow-border: 6px solid $yellow;
$main-game-width: 65%;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 24px;
}

body {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.66), 
      rgba(0, 0, 0, 0.66)
    ),
    url('../resources/images/dond_bg.jpg');
    background-size: cover;
    height: 100%;
}

//Game css
.game-base {
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-color: red;
    padding: 25px 50px;
    @extend .fill-parent;
}

.game-play-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: green;
    flex: 0.8;
}

.game-info-container {
    flex: 0.2;
    width: 100%;
    display: flex;
    justify-content: center;
}

.gameplay-area {
    border-top: $yellow-border;
    flex-direction: column;
    display: flex;
    width: $main-game-width;
}

.text {
    &.game-heading-text {
        font-family: $font-heading;
        font-size: 2em;
    }
}

.game-heading {
    height: 11%;
    align-self: center;
    justify-content: center;
    background-color: $yellow;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    @extend .width-50;
}

.side-panel {
    background-color: black;
    border-radius: 10px;
    border: $yellow-border;
    padding: 5px 10px;
    flex: 1;
    display: flex;
    flex-direction: column;

    div {
        flex: 1;
        background-color: $light-yellow;
        margin: 3px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

.bottom-panel {
    background-color: black;
    border: $yellow-border;
    border-radius: 0px 0px 10px 10px;
    width: $main-game-width;
    height: 100%;
}

////Utils////
//Width
.width-50 {
    width: 50%;
}
.flex-50 {
    flex: 0.5;
}
.width-40 {
    width: 40%;
}
.flex-40 {
    flex: 0.4;
}
.width-35 {
    width: 35%;
}
.flex-35 {
    flex: 0.35;
}
.width-30 {
    width: 30%;
}
.flex-30 {
    flex: 0.3;
}

.fill-parent {
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
    align-items: flex-start;
}

.position-ab {
    position: absolute;
}

.position-rel {
    position: relative;
}